p{
    padding-left: 10px;
    padding-right: 10px;
    border: 3px, solid, gray ;
    border-radius: 10px;
    background-color: rgb(119, 204, 233);
    margin-right: 900px;
    font-weight: bold ;
}

h2{
    font-family: Brush Script MT; color: goldenrod;
    text-align: center;
    font-size: 50px;
    margin-left: 25px;
    -webkit-text-stroke: 0.1px black;
    background-color: white;
    border: 10px, double, gray;
    border-radius: 40px;
}

h1{
    font-family: Lucida Handwriting;
    text-decoration: underline;
}

body{
    background-color: aliceblue;
}

li{
    text-decoration: underline;
    font-family: cursive;
}
